.weakpasswordindicator {    
    
    &__meter {
        margin-top: .5rem;

        &__bg {
            background-color: #e0dfde;
            border-radius: .3rem;
            margin-bottom: 1rem;
            width: 100%;
            display: inline-block;
        }

        &__bar {
            display: block;
            background-color: #f8a01e;
            border-radius: .3rem;
            height: 2.2rem;
            transition: width 1s ease, background-color 1s ease;
            position: relative;
            overflow: hidden;
            height: 1.1rem;
        }
    }

    &__guesses {

    }

    &__suggestions {

    }

    &__strength {

    }

    &__score {

    }
}